.wc{
    position: relative;
    overflow: hidden;
    display: flex;
    flex: 0.7;
    background-color: rgb(248,248,248);
}
.wrapper{
    display: flex;
    position: relative;
    flex-direction: column;    
    align-items: center;
    justify-content: center;
    width: 560px;
    height: 100%;
    margin: 0 auto;
    margin-top: 90px;
}

.wc::after{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6px;
    background-color: rgb(37,211,102);
    content: "";
}

.pc{
    width: 100%;
}

.image{
    background-image: url(./images/latop_mobile.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 360px;
    height: 205px;
    margin: 0 auto;
}

.tc{
    text-align: center;
}

.heading{
    display: inline-flex;
    color: #41525d;
    margin-top: 40px;
    line-height: 50px;
}

.heading > h1{
    font-weight: 300;
}

.heading > div > b {
    margin-left: 10px;
    font-size: x-small;
    background-color: #e6e6e6;
    border-radius: 99px;
    padding: 5px 8px;
    
}

.text{
    color: #667781;  
    font-size: 13px;
}
.text_top{
    padding-bottom: 30px;
}

.text_bottom{
    display: inline-flex;
    border-top: 1px solid #e9edef;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.logo{
    background-image: url(./images/icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    margin-right: 6px;
    margin-top: 3px;
}

.text_bottom>a{
    color: #008069;
    text-decoration: none;
    margin-left: 5px;

}

.foot{
    display: flex;
    position: relative;
    padding-top: 130px;
}

.foot > .logo{
    background-image: url(./images/lock.png);
    margin-top: -2px;
}

