.sidebarChat {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: rgb(256, 256, 256);
  box-sizing: border-box;
}
 
.sidebarChat::after {
  content: "";
  position: absolute;
  height: 1px;
  width: calc(100% - 70px);
  background-color: rgb(240,242,245); 
  right: 0;
  bottom: 0;
  /* position: relative;
  height: 1px;
  width: 100%;
  background-color: rgb(240,242,245); */
  
}

.sidebarChat:hover {
  background-color: rgb(240,242,245);
  cursor: pointer;
}

.sidebarChat__avatar {
  margin-right: 10px;
}

h2 {
  font-size: 25px;
  font-weight: 400;
}

.sidebarChat__avatar > .MuiAvatar-root, .MuiAvatar-circular, .css-1wlk0hk-MuiAvatar-root{
  height: 50px;
  width: 50px;
}

