.app {
  background-color: rgb(231,228,223);
  height: 100vh;
  display: grid;
  place-content: center;
}

.app__body {
  display: flex;
  height: 95vh;
  width: 73vw;
  background-color: #ededed;
  box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
  z-index: 99999;
}

.bar{
  position: absolute;
  width:100vw;
  height: 128px;
  background: rgb(0,168,132)
}
