.sidebar {
  flex: 0.35;
}

.sidebar__header {
  display: flex;
  justify-content: space-between;
  border-right: 1px solid lightgrey;
  padding: 20px;
}

.sidebar__headerRight {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar__headerRight > Button {
  margin-right: 1vw;
}
