.sidebarChat {
  display: flex;
  align-items: center;
  padding: 10px;
  /* border-bottom: 1px solid #c50000; */
  background-color: rgb(256, 256, 256);
}
 
.border {
  height: 1px;
  width: 245px;
  position: absolute;
  background-color: rgb(240,242,245);
  margin-top: 13px;
  
}

.sidebarChat:hover {
  background-color: rgb(240,242,245);
}

.sidebarChat__avatar {
  margin-right: 10px;
}

h2 {
  font-size: 25px;
  font-weight: 400;
}

.sidebarChat__avatar > .MuiAvatar-root, .MuiAvatar-circular, .css-1wlk0hk-MuiAvatar-root{
  height: 50px;
  width: 50px;
}

