*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.calculator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: black;
  padding: 1rem;
  .screen {
    font-family: "Open Sans", sans-serif;
    font-size: 6rem;
    font-weight: 300;
    text-align: right;
    color: white;
    margin-right: 20px;
  }

  .keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 10px;
    place-items: center;
    button {
      width: 5rem;
      height: 5rem;
      border-radius: 100px;
      background-color: #333333;
      color: white;
      font-size: 2rem;
      border: none;
      cursor: pointer;
    }
    button:hover {
      opacity: 0.8;
    }
    .light_grey {
      background-color: #a5a5a5;
      color: black;
    }
    .orange {
      background-color: #ff9e0a;
    }
    .all_clear {
      grid-column: 1/2;
      grid-row: 1/2;
    }
    .span_two {
      grid-column: 1 / span 2;
      grid-row: 5/6;
      width: 93%;
      text-align: left;
      padding-left: 30px;
    }
    .p_m {
      grid-column: 2/3;
      grid-row: 1/2;
    }
    .percentage {
      grid-column: 3/4;
      grid-row: 1/2;
    }
    .divide {
      grid-column: 4/5;
      grid-row: 1/2;
    }
    .multiply {
      grid-column: 4/5;
      grid-row: 2/3;
    }
    .subtract {
      grid-column: 4/5;
      grid-row: 3/4;
    }
    .addition {
      grid-column: 4/5;
      grid-row: 4/5;
    }
    .equals {
      grid-column: 4/5;
      grid-row: 5/6;
    }
  }
}
